<html>
  <body>
<div>

    <table>
        <thead>
          <th> Product Name </th>
          <th> Model </th>
          <th>  </th>
          <th>  </th>
          </thead>
          <tbody>
            <tr *ngFor = "let product of products" >

              <td > {{product.productname}}  </td>
              <td > {{product.model}}    </td>
 
              <td> <button (click) = 'getProductInfo(product)'> View </button> 
              <td> <button (click) = 'buyProduct(product)'> Buy </button> 
              </tr>
      
          </tbody>
        </table>
        <br/>  
        <button (click) = 'back()'> Back </button>
        <br/>    
  </div>
  
  <hr>

  </body>
  </html>
