<h2> Buy Product Form </h2>
<br>
<div class = "container" >
  <form  name="buyProduct" (ngSubmit)= "buyProduct(address.value , quantity.value)"   >
 
      Address  <br/><input  type="text" placeholder="Enter Your Address" name="name"  #address required/> <br/><br/>
      Quantity <br/><input  type="number" placeholder="Enter Needed Quantity" name="username" #quantity  required/> <br/><br/>
     
    <button type="submit"> Buy </button>
    <br/><br/>
    <button  [routerLink] ='["/storeProducts"]' > Back </button>
  </form>
  
</div>
