<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Login </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>

        function ValidateFunction(){
            var UserName= document.forms["Login"]["username"].value;
            var Password = document.forms["Login"]["password"].value;
            if(UserName == "" || UserName.length > 30){
                alert("UserName must be entered and less than 30 characters!");
                return false;
            }
            else if(Password == "" || Password.length > 15){
                alert("Password must be entered and less than 15 characters!");
                return false;
            }
            else{
                return true;
            }
        }

    </script>
</head>
<body>

<form name="Login" th:action="@{/Login}" th:object="${user}" method="post" onsubmit="ValidateFunction()">
    UserName :  <input type="text" th:field="*{username}" /> <br/><br/>
    Password :  <input type="password" th:field="*{password}" /> <br/><br/>

    Type:       <select th:field="*{type}">
                    <option value="NormalUser"> Normal user </option>
                    <option value="StoreOwner"> Store Owner </option>
                    <option value="Admin"> Administrator </option>
                </select>
    <br/><br/>

    <input type="submit" value="Login" /> <br/><br/>

</form>


<form th:action="@{/Register}" method = "post">
    <input type="submit" value="Register" /> <br/><br/>
</form>

</body>
</html>